@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* global/page-wide settings */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: Helvetica, Arial;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: ivory;
}

/* app specific style */
/* container for whole the app */
#app {
  box-sizing: content-box;
  display: grid;
  margin: 1em;
  grid-gap: 1em 0em;
  grid-template-columns: repeat(3, 1fr);
  width: max-content;
  padding: 1.3em;
}

/* common style for main units/components of the app */
#picker span,
#reset-button,
#game {
    box-shadow: 6px 6px black;
}

/* style for radio-button group, aka the picker */
#picker {
  font-size: 1.2em;
  box-sizing: border-box;
  display: flex;
  justify-self: center;
  width: 15em;
  justify-content: space-evenly;
  grid-column: 1 / 4;
}
.radio-button {
  font-family: VT323, mono;
  background-color: gainsboro;
  width: 4.2em;
}
.radio-button input {
  display: none;
}
.radio-button label {
  border: 0.3em outset silver;
  display: block;
  text-align: center;
  padding: 0.6em 0;
  width: 100%;
  height: 100%;
}
.radio-button:active label,
.radio-button input:checked + label {
  background-color: darkgrey;
  border-style: inset;
}

/* style for the reset button */
#reset-button {
  justify-self: center;
  box-sizing: border-box;
  width: 3.2em;
  height: 3.2em;
  border: .3em outset silver;
  background-image: url("resources/sun-normal.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: gainsboro;
  grid-row: 2;
  grid-column: 2;
}
#reset-button.reset-lost {
  background-image: url("resources/sun-lose.png");
}
#reset-button.reset-won {
  background-image: url("resources/sun-win.png");
}
#reset-button:active {
  background-color: darkgrey;
  border-style: inset;
}

/* style for the game area */
#game {
  box-sizing: border-box;
}
#game {
  justify-self: center;
  grid-row: 3;
  grid-column: 1 / 4;
}
.mines-row {
  display: flex;
}
.mines-row span {
  background-color: gainsboro;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid silver;
  color: black;
  text-align: center;
}
.mines-row .tile-unrevealed,
.mines-row .tile-bomb,
.mines-row .tile-flag {
    color: #0000;
}
.mines-row .tile-unrevealed {
  border: 0.2em outset silver;
}
.mines-row .tile-bomb {
  background-image: url("resources/mine.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: lightcoral;
}
.mines-row .tile-flag {
  background-image: url("resources/flag2.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: cornflowerblue;
}
