html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: Helvetica, Arial;
  margin: 0;
}

#app {
  box-sizing: content-box;
  display: grid;
  background: linear-gradient(to bottom, #00FF, #0000 25%, #0000 75%, #00FF), black;
  margin: 1em;
  border-radius: 2.6em;
  grid-gap: 1em 0em;
  grid-template-columns: repeat(7, 1fr);
  width: max-content;
  padding: 1.3em;
}

/* style for radio-button group, aka the picker */
.picker {
  display: flex;
  justify-content: space-evenly;
  grid-column: 3 / 6;
}
.radio-button {
  background-color: #F00;
  color: #0000;
  width: 3em;
  height: 2em;
  overflow: hidden;
}
.radio-button input {
  margin: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

/* style for the reset button */
#reset-button {
  grid-row: 2;
  grid-column: 4;
}

/* style for the game area */
#game {
  box-sizing: border-box;
}
#game {
  justify-self: center;
  grid-row: 3;
  grid-column: 1 / 8;
}
.mines-row {
  display: flex;
}
.mines-row div {
  background-color: #EEE;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #8885;
  text-align: center;
}
.mines-row .tile-unrevealed {
  border: 0.2em outset black;
  color: #0000;
}
.mines-row .tile-bomb {
  background-color: #F22;
}
.mines-row .tile-flag {
  background-color: #66F;
}
